p {
  color: #c2c2c2;
  font-family: 'open_sans';
  font-size: $font-size - 1.5;
  @include desktop {
    margin-top: 0.3rem;
    margin-left: 2rem;
  }
}

footer {
  height: 1.875rem;
  text-align: center;

  @include desktop {
    text-align: left;
  }
}