
p {
  color: #c2c2c2;
  font-family: 'open_sans';
  text-transform: capitalize;
  font-size: $font-size - 1.5;
}

footer {
  height: 10vh;
  text-align: center;
  @include desktop {
       text-align: left;
      }
}