h1 {
  font-family: $main-font;
  font-size: $font-size - 3;
  margin-top: 1.06rem;
  @include tablet {
    font-size: $font-size - 1.5;
  }
  @include desktop {
    font-size: $font-size;
  }
}

.choose_selection {
  text-transform: capitalize;
}

.footer_text2 {
  text-transform: uppercase;
}

header{
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  text-align: center;
  height: 88vh;
  padding: 0.375rem;
  @include tablet {
    justify-content: center;
    flex-wrap: nowrap; 
    padding: 0.375rem;
    align-items: center;
  }
  @include desktop {
    justify-content: flex-start;
  }
}

.header_up{
  flex-wrap: nowrap;
  flex-direction: column;
  height: auto;
  padding: 2rem 0 1.5rem 0;
  @include tablet{
    justify-content: center;
    flex-direction: row;
    height: 7.81rem;
    padding: 0.3rem;
  }
  @include tablet{
    justify-content: flex-start;
  }

}

.logo_div{
    width: 100%;
  @include tablet{
    width: 30%;
    margin: 0 1% 0 10%;
  }
  @include desktop{
    width: 20%;
    margin-left: 0;
  }
}
.logo_div_sizing{
  @include tablet{
    width: 13%;
    margin-left: 0;
  }
}
.logo{
  animation: logo_animate 1.5s forwards;
  animation-delay: 1s;
  animation-direction: normal;
  @include tablet {  
    animation: logo_animate2 1.5s forwards;
    animation-delay: 1s;
    animation-direction: normal; 
    width: 75%; 
    margin-left:18%;
  }
  @include desktop {
    width: 13.8rem;
    margin-left: 12%;
    animation: none;
  }
}
.logo_left{
  width: 9.43rem;
  @include tablet{
    animation:none;
    width: 4.06rem;
    margin: 0;
  }
}

.selection_box{
    animation: selection_box_animate 1.5s forwards;
    animation-delay: 1s;
    animation-direction: normal;
    @include tablet {
      animation: selection_box_animate2 1.5s forwards;
      animation-delay: 1s;
      animation-direction: normal;
      flex-basis:53%;
      max-width: 16.25rem;
      height: 7.25rem;
      margin-top: 1rem;
      margin-right: 18%;
      text-align: left;
    }
    @include desktop {
      margin-left: 4rem;
      margin-top: 1rem;
      animation: none;
  }
}
.selection_box_sizing{
  margin: 0;
  height: 6rem;
  @include desktop {
      margin-top: -10px;
  }

}

.select_dropdown {
  outline:none;
  text-transform: capitalize;
  width: 7.81rem;
  height: 1.68rem;
  margin-top: 0.93rem;
  margin-bottom: 0.62rem;
  font-size: $font-size +1;
}
