h1 {
  font-family: 'open_sans';
  font-size: $font-size - 3;
  margin-top: 12px;
}

.selection_choice1 {
  text-transform: capitalize;
    
}

p {
  color: #c2c2c2;
  font-family: 'open_sans';
  text-transform: capitalize;
  font-size: $font-size - 1.5;
}

.footer_text2 {
  text-transform: uppercase;
}

header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  height: 85vh;
  padding: 18px;
  @include tablet {
    flex-direction: row;
  }
}

.logo{
  max-width: 100%;
    @include tablet {
      width: 140px;
      margin-right:18px;
  }
}

.selection_box{
   @include tablet {
      text-align: left;
      flex-basis: 43%;
      margin-bottom: 30px;
     }
}


.select_dropdown {
    text-transform: capitalize;
    width: 125px;
    height: 25px;
    margin-top: 15px;
    font-size: $font-size +1;
}




