h1 {
  font-family: 'open_sans';
  font-size: $font-size - 3;
  margin-top: 17px;
    @include tablet {
    font-size: $font-size - 1.5;
    }
}

.choose_selection {
  text-transform: capitalize;
}

.footer_text2 {
  text-transform: uppercase;
}

header{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  text-align: center;
  height: 90vh;
  padding: 6px;
      @include tablet {
        padding: 6px;
        align-items: center;
      }
      @include desktop {
        justify-content: flex-start;
      }
}

.logo{
  display:block;
  max-width: 100%;
  height: auto;
    @include tablet {
    width: 200px;
    flex: 0 1 25%;
    }
}

.selection_box{
    width: 400px;
    @include tablet {
      max-width: 260px;
      height: 116px;
      margin-left: 20px;
      flex: 0 1 75%;
      text-align: left
  
    }
}

.select_dropdown {
  text-transform: capitalize;
  width: 125px;
  height: 27px;
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: $font-size +1;
}
