@keyframes logo_animate {
  0% {
    transform: translate(0, 0); 
  }
  100% {
     transform: translate(0.3rem, -0.2rem);  
  }
}

@keyframes logo_animate2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-0.62rem, 0.5rem);  
  }
}

@keyframes selection_box_animate {
  0% {
    transform: translate(0, 0);  
  }
  100% {
    transform: translate(0, 0.43rem);      
  }
}

@keyframes selection_box_animate2 {
  0% {
    transform: translate(0, 0);   
  }
  100% {
    transform: translate(0.62rem, 0px);    
  }
}
